#box     
  %input#btn1{:onclick => "clickBtn('btn1')", :type => "button"}/ 
  %input#btn2{:onclick => "clickBtn('btn2')", :type => "button"}/
  %input#btn3{:onclick => "clickBtn('btn3')", :type => "button"}/
  %input#btn4{:onclick => "clickBtn('btn4')", :type => "button"}/
  %input#btn5{:onclick => "clickBtn('btn5')", :type => "button"}/
  %input#btn6{:onclick => "clickBtn('btn6')", :type => "button"}/
  %input#btn7{:onclick => "clickBtn('btn7')", :type => "button"}/
  %input#btn8{:onclick => "clickBtn('btn8')", :type => "button"}/
  %input#btn9{:onclick => "clickBtn('btn9')", :type => "button"}/
  / single quotes btn
%input#btnReset{:onclick => "reset()", :type => "button", :value => "Reset"}/

